<form class="modal-dialog modal-lg modal-dialog-centered" role="document" hx-target="#template-questions" hx-swap="innerHTML"
    hx-post="{{ path('app_conf_templates_360_question', { template: template.id, question360: (question ? question.id : null) }) }}">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">{{ question ? 'Modification de question' : "Ajout d'une question au template" }}</h5>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label for="question-libelle" class="form-label">Libellé de la question</label>
                <input type="text" class="form-control" id="question-libelle" name="libelle" value="{{ question ? question.libelle }}" required>
            </div>
            {% if template.useQuestionTheme %}
                <div class="mb-3">
                    <label for="question-libelle" class="form-label">Thématique associée :</label><br/>
                    <input type="text" class="awesomplete form-control " id="question-thematique" name="thematique" value="{{ question ? question.thematique }}">
                </div>
            {% endif %}
            <div class="mb-3">
                <label for="affectedProfiles" class="form-label">Question présentée aux profils : </label>
                <div class="row m-0">
                {% for profile in template.company.obsProfiles %}
                    <div class="form-check col-4">
                        <input class="form-check-input" type="checkbox" id="profile-{{ profile.id }}" name="profiles[]" value="{{ profile.id }}"
                            {% if question is null or (question.profiles is not empty and profile in question.profiles) %}checked{% endif %}>
                        <label class="form-check-label" for="profile-{{ profile.id }}">
                            {{ profile.name }}
                        </label>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Enregistrer</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        </div>
    </div>
</form>
<script>
    // Initialiser les modals Bootstrap
    $(document).ready(function() {
        var input = document.getElementById("question-thematique");
        var thematiques = JSON.parse(`{{ (template ? template.company.questionThemes|map(q => q.name)  : [])|json_encode|raw }}`);
        
        new Awesomplete(input, {list: thematiques, minChars: 0});
    });
</script>