{% extends 'base.html.twig' %}

{% block title %}Gestion des campagnes{% endblock %}

{% block body %}
    <div class="container pt-3">
        <div class="bg-white shadow p-4 rounded w-100" >
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h1>Gestion des campagnes</h1>
                <a href="{{ path('app_campaign_new_generic') }}" class="btn {{ campaigns is empty ? 'btn-primary' : 'btn-secondary' }}">
                    <span class="bi bi-plus"></span>
                    Créer une nouvelle campagne
                </a>
            </div>

            {% if campaigns is empty %}
                <p>Aucune campagne trouvée.</p>
            {% else %}
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Date de début</th>
                            <th>Date de fin</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for campaign in campaigns %}
                            <tr>
                                <td><a href="{{path('app_campaign_manage_fdb360_edit', {'campaign' : campaign.id } )}}">{{ campaign.name }}</a></td>
                                <td>{{ campaign.beginAt ? campaign.beginAt|date('d/m/Y') : '-' }}</td>
                                <td>{{ campaign.endAt ? campaign.endAt|date('d/m/Y') : '-' }}</td>
                                <td></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}

        </div>
    </div>
{% endblock %}
