{% extends 'base.html.twig' %}

{% block title %}Gestion des utilisateurs de l'entreprise {{app.user.company.name}}{% endblock %}

{% block body %}
<div class="container mt-2">
    <div class="bg-white shadow p-3 rounded w-100 mb-2">
        <h5 class="m-0">{{ block('title') }}</h5>
    </div>
    {% set acSystem = app.request.query.get('tab')??'WebUI' %}
    <form class="mx-4">
        <ul class="nav nav-tabs border-0">
            {% for tab in ['WebUI', 'CSV', 'Webhook', 'API'] %}
                <li class="nav-item border-0">
                    <button name="tab" value="{{tab}}" class="nav-link border-0 {{acSystem == tab ?'active'}}">{{tab}}</a>
                </li>
            {% endfor %}
        </ul>
    </form>
    <div class="bg-white shadow p-4 rounded w-100">
        {% if acSystem == "WebUI" %}
            {% include 'administration/companyUsers/webui/index.html.twig' %}
        {% elseif acSystem == "CSV" %}
            {% include 'administration/companyUsers/csv.html.twig' %}
        {% elseif acSystem == "Webhook" %}
            {% include 'administration/companyUsers/webhook.html.twig' %}
        {% elseif acSystem == "API" %}
            {% include 'administration/companyUsers/api.html.twig' %}
        {% endif %}        
    </div>
</div>
{% endblock %}