
<div class="bg-white shadow p-3 rounded col h-full" >
    <h3>Etapes de la campagne</h3>
    {% set stepN = 0 %}
    <div class="p-2 w-100"></div>
    <div class="step {{ campagne.currentState == 'conf' ? 'step-active' : '' }}"> 
        <div> {% set stepN = stepN + 1 %}
            <div class="circle">
            {% if campagne.isStateAfter('conf') %}
                <i class="bi bi-check"></i>
            {% else %}
                {{ stepN }}
            {% endif %}
            </div><div class="line"></div>
        </div>
        <div>
            <div class="title">Configuration de la campagne</div>
        </div>
    </div>
    <div class="step {{ campagne.currentState == 'draft' ? 'step-active' : '' }}">
        <div> {% set stepN = stepN + 1 %}
            <div class="circle">
                {% if campagne.isStateAfter('draft') %}
                    <i class="bi bi-check"></i>
                {% else %}
                    {{ stepN }}
                {% endif %}
            </div><div class="line"></div>
        </div>
        <div>
            <div class="title">Ajout des observés</div>
            {# <div class="caption">This is description of second step.</div> #}
        </div>
    </div>
    {% if campagne.haveFeature('panel_evalueProposal') %}
        <div class="step {{ campagne.currentState == 'proposal_open' ? 'step-active' : '' }}">
            <div> {% set stepN = stepN + 1 %}
                <div class="circle">
                    {% if campagne.isStateAfter('proposal_open') %}
                        <i class="bi bi-check"></i>
                    {% else %}
                        {{ stepN }}
                    {% endif %}
                </div><div class="line"></div>
            </div>
            <div>
                <div class="title">Proposition d'un panel par les observés</div>
            </div>
        </div>
    {% endif %}
    {% if campagne.haveFeature('panel_hierarchyConfirmation') %}
        <div class="step {{ campagne.currentState == 'proposal_evalue_closed' ? 'step-active' : '' }}">
            <div> {% set stepN = stepN + 1 %}
                <div class="circle">
                    {% if campagne.isStateAfter('proposal_evalue_closed') %}
                        <i class="bi bi-check"></i>
                    {% else %}
                        {{ stepN }}
                    {% endif %}
                </div><div class="line"></div>
            </div>
            <div>
                <div class="title">Proposition (ou confirmation) d'un panel par les supérieurs hiérarchiques</div>
            </div>
        </div>
    {% endif %}
    <div class="step {{ campagne.currentState == 'proposal_hierarchy_closed' ? 'step-active' : '' }}">
        <div> {% set stepN = stepN + 1 %}
            <div class="circle">
                {% if campagne.isStateAfter('proposal_hierarchy_closed') %}
                    <i class="bi bi-check"></i>
                {% else %}
                    {{ stepN }}
                {% endif %}
            </div><div class="line"></div>
        </div>
        <div>
            <div class="title">
            {% if campagne.haveFeature('panel_evalueProposal') or campagne.haveFeature('panel_hierarchyConfirmation') %}
                Configuration des panels par le gestionnaire de la campagne
            {% else %}
                Vérification des panels par le gestionnaire de la campagne
            {% endif %}
            </div>
        </div>
    </div>
    <div class="step {{ campagne.currentState == 'answ_opened' ? 'step-active' : '' }}">
        <div> {% set stepN = stepN + 1 %}
            <div class="circle">
                {% if campagne.isStateAfter('answ_opened') %}
                    <i class="bi bi-check"></i>
                {% else %}
                    {{ stepN }}
                {% endif %}
            </div><div class="line"></div>
        </div>
        <div>
            <div class="title">Début de la campagne</div>
            {# <div class="caption">Some text about Third step. </div> #}
        </div>
    </div>
    <div class="step {{ campagne.currentState == 'answ_closed' ? 'step-active' : '' }}">
        <div> {% set stepN = stepN + 1 %}
            <div class="circle">
                {% if campagne.isStateAfter('answ_closed') %}
                    <i class="bi bi-check"></i>
                {% else %}
                    {{ stepN }}
                {% endif %}
            </div><div class="line"></div>
        </div>
        <div>
            <div class="title">Clôture de la campagne</div>
        </div>
    </div>
</div>

