{% extends 'base.html.twig' %}

{% block title %}Configuration{% endblock %}

{% block body %}
<div class="container">
    <div class="bg-white shadow p-4 rounded w-100 gap-3">
        <h1>Configuration</h1>
        <div class="grid grid-cols-2 gap-2">
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <div>
                <a class="btn btn-primary" role="button" href="{{ path('autoadmin_index') }}" hx-boost="false">Dashboard super-administrateur</a>
            </div>
        {% endif %}
        {% if is_granted('ROLE_ENT_ADMIN') %}
            <div>
                <a class="btn btn-primary" role="button" href="{{ path('app_conf_company') }}">Configuration Plateforme</a>
            </div>
            <div>
                <a class="btn btn-primary" role="button" href="{{ path('app_conf_company_campaigns') }}">Configuration Campagnes</a>
            </div>
        {% endif %}
        {% if is_granted('ROLE_ENT_USER_MANAGER') %}
            <div>
                <a class="btn btn-primary" role="button" href="{{ path('app_gestion_company_users') }}">Gestion Utilisateurs</a>
            </div>
        {% endif %}
        {% if is_granted('ROLE_T_360_MAN') %}
            {% if userCompanyConfig.questFdb360 %}
                <div>
                    <a class="btn btn-primary" role="button" href="{{ path('app_conf_templates_360_list') }}">Templates Feedback 360</a>
                </div>
            {% endif %}
        {% endif %}
        {% if is_granted('ROLE_T_EA_MAN') %}
            {% if userCompanyConfig.questEA %}
                <div>
                    <a class="btn btn-primary" role="button" href="{{ path('app_conf_templates_ea') }}">Templates Entretien Annuel</a>
                </div>
            {% endif %}
        {% endif %}
        {% if is_granted('ROLE_T_REFCOM_MAN') %}
            {% if userCompanyConfig.questComp %}
                <div>
                    <a class="btn btn-primary" role="button" href="{{ path('app_conf_referentiel_comp') }}">Référentiel de compétences</a>
                </div>
            {% endif %}
        {% endif %}
        {% if is_granted('ROLE_T_ENSURV_MAN') %}
            {% if userCompanyConfig.questPerc %}
                <div>
                    <a class="btn btn-primary" role="button" href="{{ path('app_conf_templates_survey') }}">Questionnaires perception de l'entreprise</a>
                </div>
            {% endif %}
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}
