
{% if campaign.observation360s|length == 0 %}
    <p>Aucune observation en préparation.</p>
{% else %}
    <table class="table">
        <thead>
            <tr>
                <th>Agent</th>
                <th>Taille panel</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% set conf = campaign.company.config %}
            {% for obs in campaign.observation360s %}
                <tr>
                    <td>{{ obs.agent.username }} {% if obs.agent.companyInternalId %} ({{ obs.agent.companyInternalId }}){% endif %}</td>
                    <td> {{ panelsizes[obs.id] ?? 0 }} </td>
                    <td>
                        {{ obs.stateDisplayed }} 
                        {% if obs.isStateBefore('ready') %}
                            {% if obs.isPanelInsufficient() %}
                                <span class="text-danger ms-2" title="Le panel doit contenir au moins {{ conf.panelMinSize }} observateurs.">
                                    <i class="bi bi-exclamation-triangle-fill"></i>
                                </span>
                            {% elseif obs.isPanelExcessive() %}
                                <span class="text-danger ms-2" title="Le panel doit contenir au maximum {{ conf.panelMaxSize }} observateurs.">
                                    <i class="bi bi-exclamation-triangle-fill"></i>
                                </span>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if campaign.isStateBefore('ready') %}
                            <a class="btn btn-sm btn-primary" target="_blank" href="{{ path('observation_panel_edit', {'id': obs.id}) }}">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <button type="button" class="btn btn-sm btn-danger"
                                hx-delete="{{ path('observation_delete', {'id': obs.id}) }}"
                                hx-confirm="Êtes-vous sûr de vouloir supprimer cette observation ?"
                                hx-target="#campaignContent" hx-swap="innerHTML">
                                <i class="bi bi-trash"></i>
                            </button>
                        {% else %}
                            <a class="btn btn-sm btn-secondary" target="_blank" href="{{ path('observation_view', {'id': obs.id}) }}">
                                <i class="bi bi-eye"></i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr><td colspan="2">Aucune observation trouvée.</td></tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}